<div class="col-md-10 card m-3 p-3">

  <form #f="ngForm" novalidate>
    <h3 class="card-title">Add new Todo</h3>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title"
             [ngModel]="todo?.title"
             (ngModelChange)="todo.title = $event"
             #todoTitle="ngModel"
             name="title"
             required
             minlength="3"
             [ngClass]=" {'is-invalid': todoTitle.errors && todoTitle.touched, 'is-valid': !todoTitle.errors && todoTitle.touched}"
      >
      <div class="invalid-feedback" [hidden]="!todoTitle.errors?.required">Title must be not empty.</div>
      <div class="invalid-feedback" [hidden]="!todoTitle.errors?.minlength">Title length must be >= 3.</div>
    </div>


    <div class="form-group">
      <label for="completed">Completed</label>
      <input type="text" class="form-control" id="completed"
             [ngModel]="todo?.completed"
             (ngModelChange)="todo.completed = $event"
             #todoCompleted="ngModel"
             name="body"
             required
             pattern="^(true|false)$"
             [ngClass]=" {'is-invalid': todoCompleted.errors && todoCompleted.touched, 'is-valid': !todoCompleted.errors && todoCompleted.touched}"
      >
      <div class="invalid-feedback" [hidden]="!todoCompleted.errors?.required">Completed must be not empty.</div>
      <div class="invalid-feedback" [hidden]="!todoCompleted.errors?.pattern">Only true or false is valid value for this field.</div>
    </div>

    <button class="btn btn-success" [disabled]="f.invalid" (click)="onAddNewTodo()">Save</button>
    <button class="btn btn-primary" *ngIf="!isReadOnly" (click)="onCancel()">Cancel</button>

  </form>


</div>
